.skills {

    background: url(../../../public/assets/stars.png);
    color: white;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;


    @media screen and (min-width:320px) and (max-width:767px) {
        flex-direction: column;
    }

    .mobile-header {

        display: none;

        h1 { 
            font-size: 25px;
            margin-bottom: 10px;
            text-transform: none;
        }

        @media screen and (min-width:320px) and (max-width:767px) {
            display: block;
            position: relative;
            top: 90px;
        }

    }

    .skill-img-container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 100px;

        // background-color:  rgba(255, 255 , 255 , 0.1);

        // margin-right: 50px; // position can braeke flex ! 


        @media screen and (min-width:768px) and (max-width:1023px) {
            margin-left: 40px;
        }

        @media screen and (min-width:320px) and (max-width:767px) {
            display: none;
        }


        h1 {
            margin-bottom: 10px;
        }

        .logo {
            font-size: 120px;
        }


    }

    .skills-container {

        //background-color: rgba(255, 255 , 255 , 0.1);
        width: 500px;
        //padding: 300px;
        height: auto;

        display: flex;
        flex-direction: column;

        margin-right: 150px;

        //margin-left: 100px;

        @media screen and (min-width:768px) and (max-width:1023px) {
            margin-right: 40px;
        }

        @media screen and (min-width:320px) and (max-width:767px) {
            margin-right: 0;
            position: relative;
            top: 100px;
            width: 300px;
            height: 600px;
        }


        .button-load {
            padding: 15px;
            width: 50%;
            position: relative;
            left: 50%;
            border-radius: 25px;
            margin-top: 35px;
        }


        h3 {
            margin: 5px;

            @media screen and (min-width:320px) and (max-width:767px) {
                margin: 0;
                font-size: 20px;
            }

        }


        li {

            list-style: none;
            margin: 10px 0;
            padding: 5px;
            background-color: rgba(255, 255, 255, 0.1);


            @media screen and (min-width:320px) and (max-width:767px) {
                margin: 5px 0;
                padding: 5px;
            }


            .bar {

                background: white;
                display: block;
                height: 20px;
                transition: all 1s cubic-bezier(.25, .8, .25, 1);
                box-shadow: 0 0 10px #fff;


                @media screen and (min-width:320px) and (max-width:767px) {
                    height: 10px;
                    overflow: hidden;
                }

                .active {
                    height: 20px;
                    float: left;
                    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);

                }

                .html {
                    width: 90%;
                    animation: html 5s;
                }

                .css {
                    width: 90%;
                    animation: css 5s;
                }

                .javascript {
                    width: 70%;
                    animation: javascript 5s;
                }

                .reactjs {
                    width: 70%;
                    animation: reactjs 5s;
                }

                .nodejs {
                    width: 60%;
                    animation: nodejs 5s;
                }

                .csharp {
                    width: 60%;
                    animation: csharp 5s;
                }

                .flutter {
                    width: 60%;
                    animation: flutter 5s;
                }


                @keyframes html {
                    0% {
                        width: 0%;
                    }

                    100% {
                        width: 90%;
                    }
                }

                @keyframes css {
                    0% {
                        width: 0%;
                    }

                    100% {
                        width: 90%;
                    }
                }

                @keyframes javascript {
                    0% {
                        width: 0%;
                    }

                    100% {
                        width: 70%;
                    }
                }

                @keyframes reactjs {
                    0% {
                        width: 0%;
                    }

                    100% {
                        width: 70%;
                    }
                }

                @keyframes nodejs {
                    0% {
                        width: 0%;
                    }

                    100% {
                        width: 60%;
                    }
                }

                @keyframes csharp {
                    0% {
                        width: 0%;
                    }

                    100% {
                        width: 60%;
                    }
                }



                @keyframes flutter {
                    0% {
                        width: 0%;
                    }

                    100% {
                        width: 70%;
                    }
                }


            }


        }

        /* 
        .li-2 { 
            position: relative;
            left: 35px;
        }
        .li-3 { 
            position: relative;
            left: 70px;
        }
        .li-4 { 
            position: relative;
            left: 105px;
        }
        .li-5 { 
            position: relative;
            left: 140px;
        }
        .li-6 { 
            position: relative;
            left: 175px;
        } */

    }

}